rootfs/
config.json
.ccls-cache/
microbench/build
macrobench/spec/result

### VisualStudioCode ###
.vscode/*

### Clion ###
.idea/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
.gdbinit
.cache